@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
aside, nav, footer, header, section, article { display: block }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, assets/login, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea{
	resize:none;
}
input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
:focus { outline:none; }
body {
	margin:0;
	color:#000;
	font-family: 'Rubik', sans-serif;
	font-size:20px;
	background:#fff;
	min-width:375px;
	height:100%;
	position:relative;
	-webkit-text-size-adjust: none;
}
*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.default-layout {
	overflow:hidden;
}
.edufrontSignIn{
    overflow:hidden;
    display: flex;
    height: 100vh;
    width: 100%;
}
.edufrontSignIn_container{
    width: 100%;
    height: 100%;
    background: url(../assets/login/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 100px 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.edufrontSignIn_container .edufrontSignIn_logo{
    display: none;
}
.edufrontSignIn_container .edufrontSignIn_help {
    display: none;
}
.edufrontSignIn_container .edufrontSignIn_sidebar-container{
    display: none;
}
.edufrontSignIn_contacts{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.edufrontSignIn_contact{
    height: 44px;
    margin-right: 24px;
    border-radius: 100px;
    background-color: rgba(0,0,0, 0.3);
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
}
.edufrontSignIn_footer{
    border-top: 1px solid rgba(255,255,255, 0.3);
    padding-top: 48px;
}
.edufrontSignIn_footer .edufrontSignIn_address{
    margin-bottom: 24px;
}
.edufrontSignIn_footer-links{
    display: flex;
}
.edufrontSignIn_footer-link{
    display: block;
    margin-right: 20px;
}
.edufrontSignIn_footer-link assets/login{
    display: block;
}
.edufrontSignIn_footer-link:last-child{
    margin: 0;
}
.edufrontSignIn_contact.tel{
    letter-spacing: 1.44px;
}
.edufrontSignIn_contact assets/login{
    display: block;
    margin-right: 12px;
}
.edufrontSignIn_contact:last-child{
    margin: 0;
}
.edufrontSignIn_title{
    display: block;
    font-size: 60px;
    line-height: 71px;
    color: #ffff;
    font-weight: 600;
    margin-bottom: 22px;
}
.edufrontSignIn_address{
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #ffff;
    font-weight: 300;
    margin-bottom: 30px;
}
.edufrontSignIn_sidebar{
    height: 100vh;
    min-width: 680px;
    width: 680px;
    padding: 75px 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edufrontSignIn_sidebar-container{
    margin: 0 -10px 0 0;
    padding-right: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}
.edufrontSignIn_sidebar-container::-webkit-scrollbar {
    width: 3px;
    border-radius: 100px;
    overflow: hidden;
}
.edufrontSignIn_sidebar-container::-webkit-scrollbar-thumb {
    border-radius: 100px;
    overflow: hidden;
    background-color: #AFB8C6;
}
.edufrontSignIn_logo a{
    display: block;
}
.edufrontSignIn_logo a assets/login{
    display: block;
}
.edufrontSignIn_help{
    display: block;
    text-align: center;
    line-height: 24px;
    font-weight: 300;
}
.edufrontSignIn_help a{
    text-decoration: none;
    color: #69A9F2;
}
.edufrontSignIn_help a:hover{
    text-decoration: underline;
}
.edufrontSignIn_sidebar-title{
    display: block;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 15px;
}
.edufrontSignIn-text{
    display: block;
    color: #AFB8C6;
    line-height: 24px;
    margin-bottom: 40px;
    font-weight: 300;
}
.edufrontSignIn-nav{
    display: flex;
    border-top: 1px solid rgba(219, 226, 237, 0.54);
    padding-top: 21px;
    margin-bottom: 40px;
}
.edufrontSignIn-nav a{
    display: block;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    color: #AFB8C6;
    font-weight: 300;
    margin-right: 42px;
    position: relative;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.edufrontSignIn-nav a:hover{
    color: #000000;
}
.edufrontSignIn-nav a:last-child{
    margin: 0;
}
.edufrontSignIn-nav a.active{
    color: #69A9F2;
    font-weight: 500;
}
.edufrontSignIn-nav a.active:hover{
    color: #69A9F2;
}
.edufrontSignIn-nav a.active:after{
    content:'';
    display:block;
    clear:both;
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #69A9F2;
}
.edufrontSignIn-nav a.active:before{
    content:'';
    display:block;
    clear:both;
    position: absolute;
    top: -21px;
    left: 50%;
    margin-left: -6px;
    width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #69A9F2;
}
.edufrontSignIn-form input{
    display: block;
    text-align: center;
    border: 1px solid #DBE2ED;
    border-radius: 8px;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    color: #AFB8C6;
    font-size: 20px;
    line-height: 24px;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    padding: 0 64px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.edufrontSignIn-form input::placeholder{
    color: #AFB8C6;
}
.edufrontSignIn-form input[type="password"] {
    background: url(../assets/login/eye.svg) no-repeat calc(100% - 21px) 50% #fff;
    margin-bottom: 40px;
}
.edufrontSignIn-form input.filled{
    border: 1px solid #AFB8C6;
    color: #000000;
}
.edufrontSignIn-form input.filled::placeholder{
    color: #000000;
}
.edufrontSignIn-form input.filled-checked{
    border: 1px solid #AFB8C6;
    color: #000000;
    background: url(../assets/login/ok.png) no-repeat calc(100% - 21px) 50% #fff;
}
.edufrontSignIn-form input.filled-checked::placeholder{
    color: #000000;
}
.edufrontSignIn-form input.error{
    border: 1px solid #EF5350;
    color: #000000;
    background: url(../assets/login/error.png) no-repeat calc(100% - 21px) 50% #fff;
}
.edufrontSignIn-form input.error::placeholder{
    color: #000000;
}
.edufrontSignIn-form_error{
    text-align: center;
    margin: -4px 0 16px 0;
    color: #EF5350;
    font-size: 16px;
    line-height: 19px;
}
.edufrontSignIn-form_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.edufrontSignIn-form_links a{
    display: block;
    text-decoration: none;
    color: #69A9F2;
    font-weight: 300;
    line-height: 24px;
}
.edufrontSignIn-form_links a:hover{
    text-decoration: underline;
}
.edufrontSignIn-form button[type="submit"] {
    display: block;
    text-align: center;
    width: 100%;
    box-shadow: 0px 2px 4px #00000029;
    border: 1px solid #DBE2ED;
    border-radius: 8px;
    height: 60px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #69A9F2;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin-bottom: 16px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.edufrontSignIn-form button[type="submit"]:hover{
    background-color: #568CE0;
}
.edufrontSignIn-form button[type="submit"]:active{
    background-color: #3C4B9B;
}
.edufrontSignIn-form p{
    display: block;
    text-align: center;
    color: #000000;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 16px;
}
.edufrontSignIn-google{
    box-shadow: 0px 2px 4px #00000029;
    border: 1px solid #DBE2ED;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    position: relative;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    justify-content: center;
}
.edufrontSignIn-google assets/login{
    display: block;
    position: absolute;
    left: 20px;
}
.edufrontSignIn_mobile .edufrontSignIn-form{
    display: none;
}
.mobile-inner .edufrontSignIn_sidebar-title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 12px;
    color: #fff;
}
.mobile-inner .back{
    display: block;
    margin-bottom: 30px;
}
.mobile-inner .back {
    display: block;
}
.mobile-inner .edufrontSignIn-text {
    color: #fff;
    margin-bottom: 30px;
}
.mobile-inner .edufrontSignIn-nav {
    border-top: 1px solid rgba(255,255,255, 0.54);
    padding-top: 26px;
    margin-bottom: 30px;
}
.mobile-inner .edufrontSignIn-nav a {
    font-size: 18px;
    line-height: 22px;
    color: rgba(255,255,255, 0.8);
}
.mobile-inner .edufrontSignIn-nav a.active{
    color: rgba(255,255,255, 1);
}
.mobile-inner .edufrontSignIn-nav a.active:after{
    top: -27px;
    background-color: #fff;
}
.mobile-inner .edufrontSignIn-nav a.active:before {
    top: -26px;
    border-top: 8px solid #fff;
}
.mobile-inner .edufrontSignIn-form input {
    height: 46px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 19px;
    background-color: #00000033;
    border-color: transparent;
    color: rgba(255,255,255, 0.7);
}
.mobile-inner .edufrontSignIn-form input::placeholder{
    color: rgba(255,255,255, 0.7);
}
.mobile-inner .edufrontSignIn-form input[type="password"] {
    background-size: 16px 12px;
    margin-bottom: 30px;
}





.mobile-inner .edufrontSignIn-form input.filled{
    border-color: transparent;
    color: #fff;
}
.mobile-inner .edufrontSignIn-form input.filled::placeholder{
    color: #fff;
}
.mobile-inner .edufrontSignIn-form input.filled-checked{
    border-color: transparent;
    color: #fff;
    background: url(../assets/login/ok.png) no-repeat calc(100% - 21px) 50% #00000033;
    background-size: 12px 8px;
}
.mobile-inner .edufrontSignIn-form input.filled-checked::placeholder{
    color: #fff;
}
.mobile-inner .edufrontSignIn-form input.error{
    border-color: #EF5350;
    color: #fff;
    background: url(../assets/login/error.png) no-repeat calc(100% - 21px) 50% #00000033;
    background-size: 14px 14px;
}
.mobile-inner .edufrontSignIn-form input.error::placeholder{
    color: #fff;
}
.mobile-inner .edufrontSignIn-form_error{
    text-align: center;
    margin: -4px 0 8px 0;
    color: #EF5350;
    font-size: 14px;
    line-height: 20px;
}






.mobile-inner .edufrontSignIn-form_links {
    margin-bottom: 30px;
}
.mobile-inner .edufrontSignIn-form_links a{
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.mobile-inner .edufrontSignIn-form button[type="submit"] {
    margin: 0;
}




/*media*/
@media screen and (max-width: 1600px) {
    .edufrontSignIn_container{
        padding: 75px;
    }
    .edufrontSignIn_sidebar{
        padding: 50px;
        width: 600px;
        min-width: 600px;
    }
}
@media screen and (max-width: 1440px) {
    .edufrontSignIn_title {
        font-size: 52px;
        line-height: 66px;
        margin-bottom: 20px;
    }
    .edufrontSignIn_contacts {
        margin-bottom: 30px;
    }
    .edufrontSignIn_footer {
        padding-top: 30px;
    }
    .edufrontSignIn_address {
        margin-bottom: 20px;
    }
    .edufrontSignIn-text {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
    }
    .edufrontSignIn_help{
        font-size: 18px;
        line-height: 22px;
    }
    .edufrontSignIn-nav{
        margin-bottom: 20px;
        padding-top: 15px;
    }
    .edufrontSignIn-nav a.active:after{
        top: -16px;
    }
    .edufrontSignIn-nav a.active:before{
        top: -16px;
    }
    .edufrontSignIn-nav a{
        font-size: 20px;
        line-height: 24px;
    }
    .edufrontSignIn-form input{
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
    .edufrontSignIn-form input[type="password"]{
        margin-bottom: 25px;
    }
    .edufrontSignIn-form_links{
        margin-bottom: 25px;
    }
    .edufrontSignIn-form button[type="submit"]{
        height: 50px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 22px;
    }
    .edufrontSignIn-form p{
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 22px;
    }
    .edufrontSignIn-google{
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
    .edufrontSignIn-form_links a {
        line-height: 20px;
        font-size: 18px;
    }
    .edufrontSignIn_contact{
        font-size: 18px;
    }
}
@media screen and (max-width: 1366px) {
    .edufrontSignIn_sidebar {
        padding: 30px 50px;
        width: 500px;
        min-width: 500px;
    }
    .edufrontSignIn_container {
        padding: 50px;
    }
    .edufrontSignIn_sidebar-title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .edufrontSignIn_container {
        padding: 30px;
    }
    .edufrontSignIn_sidebar {
        padding: 30px;
        width: 450px;
        min-width: 450px;
    }
    .edufrontSignIn_title {
        font-size: 46px;
        line-height: 60px;
    }
}
@media screen and (max-width: 1152px) {
    .edufrontSignIn_title {
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 10px;
    }
    .edufrontSignIn_address {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 992px) {
    .edufrontSignIn_sidebar{
        display: none;
    }
    .edufrontSignIn_container{
        justify-content: center;
    }
    .edufrontSignIn_container .edufrontSignIn_logo{
        display: block;
        margin-bottom: auto;
    }
    .edufrontSignIn_mobile {
        margin-bottom: auto;
    }
    .edufrontSignIn_footer{
        border: none;
        padding: 0;
    }
    .edufrontSignIn_address {
        margin-bottom: 30px;
    }
    .edufrontSignIn_footer .edufrontSignIn_address {
        margin-bottom: 16px;
    }
    .edufrontSignIn_contacts{
        display: none;
    }
    .edufrontSignIn_title {
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 12px;
    }
    .edufrontSignIn_mobile .edufrontSignIn-form{
        display: block;
    }
    .edufrontSignIn-form button[type="submit"] {
        border: none;
        height: 46px;
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 19px;
    }
    .edufrontSignIn-google {
        height: 46px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
    }
    .mobile-inner .edufrontSignIn_container .edufrontSignIn_help {
        display: block;
        color: rgba(255,255,255, 0.8);
    }
    .mobile-inner .edufrontSignIn_container .edufrontSignIn_help a{
        color: rgba(255,255,255, 1);
        font-weight: 600;
    }
    .mobile-inner .edufrontSignIn_mobile {
        display: none;
    }
    .mobile-inner .edufrontSignIn_footer{
        display: none;
    }
    .mobile-inner .edufrontSignIn_container .edufrontSignIn_sidebar-container{
        display: block
    }
    .mobile-inner .back{
        display: block;
        margin-bottom: 20px;
    }
    .mobile-inner .back {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .edufrontSignIn_address{
        font-size: 14px;
        line-height: 17px;
    }
    .mobile-inner .edufrontSignIn-text {
        font-size: 14px;
        line-height: 17px;
    }
}
@media screen and (max-width: 640px) {

}
@media screen and (max-width: 568px) {

}
@media screen and (max-width: 480px) {
    .edufrontSignIn_address{
        font-size: 14px;
        line-height: 17px;
    }
    .edufrontSignIn_footer-link assets/login{
        width: auto;
        height: 46px;
    }
    .mobile-inner .edufrontSignIn_help {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 460px) {

}
@media screen and (max-width: 360px) {

}
@media screen and (max-width: 375px) {
    .edufrontSignIn_footer-links{
        justify-content: space-between;
    }
    .edufrontSignIn_footer-link{
        margin: 0;
    }
}
