<template>
  <div>
    <div class="p-d-flex p-jc-center">
      <h2>Account</h2>
    </div>
    <account-data :user="user" v-if="user" />
    <account-skeleton v-if="!user" />
  </div>
</template>

<script>
import AccountData from "../components/AccountData.vue";
import AccountSkeleton from "../components/AccountSkeleton.vue";

import { mapState } from "vuex";

export default {
  components: {
    AccountData,
    AccountSkeleton,
  },
  data() {
    return {};
  },
  computed: {
    ...mapState({
      user: (state) => state.user,
    }),
  },
};
</script>
