<template>
  <div class="dashboard">
    <!-- {{GET_TRANSACTIONS}}!!! -->
    <!-- <pre>{{ selectedCategory }}</pre>
    <pre>{{ categoriesGroup }}</pre>
    <pre>{{ selectedGroup }}</pre> -->
    <div class="p-d-flex card p-mb-5">
      <div class="p-mr-5">
        <label class="p-mr-2" for="group">Group:</label>
        <Dropdown
          id="group"
          v-model="selectedGroup"
          :options="groups"
          optionLabel="name"
          optionValue="groupId"
          placeholder="Select a Group"
          class="p-mr-2"
          @change="selectedCategory = null"
        />
        <Button
          icon="pi pi-fw pi-cog"
          class="p-button-rounded p-button-outlined"
          :disabled="!selectedGroup"
          @click="showAddGroupModal(false)"
        />
      </div>
      <div class="p-mr-5">
        <label class="p-mr-2" for="categories">Category:</label>
        <Dropdown
          id="categories"
          v-model="selectedCategory"
          :options="categoriesGroup"
          optionLabel="name"
          optionValue="categoryId"
          placeholder="Select a Category"
          :disabled="!selectedGroup"
        />
      </div>
      <Button
        label="Add group"
        class="p-button-secondary p-ml-auto"
        @click="showAddGroupModal(true)"
      />
    </div>
    <h4>Filter</h4>
    <div class="card p-d-flex p-mb-5">
      <div class="p-mr-5">
        <SelectButton
          @click="onPeriodBtnClick"
          v-model="value2"
          :options="paymentOptions"
          optionLabel="name"
        />
      </div>
      <div class="p-mr-5">
        <label class="p-mr-2" for="range">Period:</label>
        <Calendar
          id="range"
          v-model="dates2"
          selectionMode="range"
          :manualInput="false"
          :showIcon="true"
        />
      </div>

      <!-- categories -->
    </div>
    <div class="card">
      <div class="p-d-flex p-mb-2 p-jc-between">
        <Button
          @click="showTransactionModal"
          label="Add transaction"
          class="p-button-info p-mr-2"
        />
        <SelectButton
          v-model="layout"
          :options="layoutOptions"
          optionLabel="icon"
          optionValue="name"
        >
          <template #option="slotProps">
            <div class="car-option">
              <span :class="`pi ${slotProps.option.icon}`"></span>
            </div>
          </template>
        </SelectButton>
      </div>
      <div>
        <DataTable
          :value="filteredTransactionsPeriod"
          responsiveLayout="stack"
          breakpoint="960px"
        >
          <Column header="Amount" field="amount">
            <template #body="{ data }">
              <span>{{ data.amount }}</span> $
            </template>
          </Column>
          <Column header="Transaction" field="name">
            <template #body="{ data }">
              <strong>{{ data.name }}</strong>
            </template>
          </Column>
          <Column header="User" field="user">
            <template #body="{ data }">
              <img
                class="p-mr-2"
                :alt="data.user.name"
                src="https://www.primefaces.org/wp-content/uploads/2020/05/placeholder.png"
                width="32"
                style="vertical-align: middle"
              />
              <span class="image-text">{{ data.user.name }}</span>
            </template>
          </Column>
          <Column header="Category" field="category">
            <template #body="{ data }">
              <span
                v-if="data.category"
                class="customer-badge"
                :style="{ backgroundColor: '#' + data.category.color }"
                >{{ data.category.name }}</span
              >
            </template>
          </Column>
          <Column header="Date" field="date">
            <template #body="{ data }">
              <span>{{
                new Date(data.date.seconds * 1000).toLocaleDateString()
              }}</span>
            </template>
          </Column>
        </DataTable>
      </div>
      <div>
        <!-- <Chart type="pie" :data="chartData" /> -->
        <!-- <Chart type="line" :data="lineData" /> -->
      </div>
    </div>
    <GroupModal
      :isAddGroupModal="isAddGroupModal"
      :isNewGroup="isNewGroup"
      :currentGroup="currentGroup"
      :categoriesGroup="categoriesGroup"
      @closeGroupModal="closeAddGroupModal"
    />
    <TransactionModal
      :isTransactionModal="isTransactionModal"
      :categoriesGroup="categoriesGroup"
      @closeTransactionModal="closeTransactionModal"
    />
  </div>
</template>
<script>
import { mapState } from "vuex";
import { mapGetters } from "vuex";

import _ from "lodash";

import GroupModal from "@/components/GroupModal";
import TransactionModal from "@/components/TransactionModal";
import categoriesDefault from "@/helpers/categories";

const categories = _.cloneDeep(categoriesDefault);

export default {
  data() {
    return {
      isAddGroupModal: false,
      isTransactionModal: false,
      isNewGroup: false,
      lineData: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
        ],
        datasets: [
          {
            label: "First Dataset",
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            backgroundColor: "#2f4860",
            borderColor: "#2f4860",
          },
          {
            label: "Second Dataset",
            data: [28, 48, 40, 19, 86, 27, 90],
            fill: false,
            backgroundColor: "#00bb7e",
            borderColor: "#00bb7e",
          },
        ],
      },
      layout: "grid",
      layoutOptions: [
        { name: "grid", icon: "pi pi-bars" },
        { name: "chart", icon: "pi-chart-bar" },
      ],
      value2: null,
      selectedGroup: null,
      paymentOptions: [
        { name: "All", value: 0 },
        { name: "Month", value: 1 },
        { name: "Week", value: 2 },
        { name: "Today", value: 3 },
      ],
      dates2: null,
      mSecondsInDay: 86400000,
      selectedCategory: null,
      chartData: {
        labels2: ["A", "B", "C"],
        datasets: [
          {
            data: [300, 50, 100],
            backgroundColor: ["#42A5F5", "#66BB6A", "#FFA726"],
            hoverBackgroundColor: ["#64B5F6", "#81C784", "#FFB74D"],
          },
        ],
      },
    };
  },
  components: {
    GroupModal,
    TransactionModal,
  },
  computed: {
    ...mapState({
      groups: (state) => {
        const groups = _.cloneDeep(state.groups);
        if (groups) {
          groups.unshift({ name: "All groups", groupId: null });
        }
        return groups;
      },
      categories: (state) => state.categories,
    }),
    ...mapGetters(["GET_TRANSACTIONS"]),
    currentGroup() {
      if (this.selectedGroup && !this.isNewGroup) {
        return this.groups.find(
          (group) => group.groupId === this.selectedGroup
        );
      }
      return { name: "" };
    },
    categoriesGroup() {
      if (this.selectedGroup && !this.isNewGroup) {
        const categories = this.categories.filter(
          (category) => category.groupId === this.selectedGroup
        );
        return categories;
      }
      return categories;
    },
    filteredTransactionsGroup() {
      if (this.selectedGroup) {
        const transactions = this.GET_TRANSACTIONS.filter(
          (transaction) => transaction.groupId === this.selectedGroup
        );
        return transactions;
      }
      return this.GET_TRANSACTIONS;
    },
    filteredTransactionsCategory() {
      if (this.selectedCategory) {
        const transactions = this.filteredTransactionsGroup.filter(
          (transaction) => transaction.categoryId === this.selectedCategory
        );
        return transactions;
      }
      return this.filteredTransactionsGroup;
    },
    filteredTransactionsPeriod() {
      if (this.dates2) {
        const timeMin = new Date(this.dates2[0]).getTime();
        let timeMax = new Date(this.dates2[1]).getTime() + this.mSecondsInDay;

        if (this.dates2[1] == null) {
          timeMax = timeMin + this.mSecondsInDay;
        }
        const transactions = this.filteredTransactionsCategory.filter(
          (transaction) =>
            transaction.date.seconds * 1000 >= timeMin &&
            transaction.date.seconds * 1000 <= timeMax
        );
        return transactions;
      }
      return this.filteredTransactionsCategory;
    },
  },
  methods: {
    showAddGroupModal(isNewGroup) {
      this.isNewGroup = isNewGroup;
      this.isAddGroupModal = true;
    },
    closeAddGroupModal() {
      this.isAddGroupModal = false;
    },
    saveAddGroupModal() {
      this.closeAddGroupModal();
    },
    showTransactionModal() {
      this.isTransactionModal = true;
    },
    closeTransactionModal() {
      this.isTransactionModal = false;
    },
    onPeriodBtnClick() {
      let startToday = new Date();
      let finishToday = new Date();
      startToday.setHours(0, 0, 0, 0);
      const startTodayinMSec = startToday.getTime();
      finishToday = new Date(startTodayinMSec + this.mSecondsInDay);

      this.dates2 = [startToday, finishToday];

      switch (this.value2.value) {
        case 0:
          this.dates2[0] = new Date(0);
          break;
        case 1:
          this.dates2[0] = new Date(startTodayinMSec - 30 * this.mSecondsInDay);
          break;
        case 2:
          this.dates2[0] = new Date(startTodayinMSec - 7 * this.mSecondsInDay);
          break;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.groups {
  .p-dropdown {
    min-width: 200px;
  }
}
.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #fff;
}
::v-deep(.p-scrollpanel) {
  &.custombar1 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--surface-b);
    }

    .p-scrollpanel-bar {
      background-color: var(--primary-color);
      opacity: 1;
      transition: background-color 0.2s;

      &:hover {
        background-color: #007ad9;
      }
    }
  }
}
</style>
