<template>
  <div class="edufrontSignIn">
    <div class="edufrontSignIn_container">
      <div class="edufrontSignIn_logo">
        <a href="">
          <img src="../assets/login/logo-mob.svg" alt="logo" />
        </a>
      </div>
      <div class="edufrontSignIn_mobile">
        <h1 class="edufrontSignIn_title">Govt High Primary School</h1>
        <p class="edufrontSignIn_address">
          Ramagondanahalli, South 4, Bangaluru, Karnataka, India
        </p>
        <div class="edufrontSignIn-form">
          <button class="edufrontSignIn-google">
            <img
              src="../assets/login/google.png"
              width="24"
              height="24"
              alt="google"
            />
            Sign in with Google
          </button>
        </div>
      </div>
      <div class="edufrontSignIn_sidebar-container">
        <a href="" class="back">
          <img src="../assets/login/arrow.svg" alt="arrow" />
        </a>
        <h2 class="edufrontSignIn_sidebar-title">Login to your account</h2>
        <p class="edufrontSignIn-text">School code: rgphsedufront</p>
      </div>
      <p class="edufrontSignIn_help">
        Need help? Go to our <a href="">help center</a>
      </p>
    </div>
    <div class="edufrontSignIn_sidebar">
      <div class="edufrontSignIn_logo">
        <a href="">
          <img src="../assets/login/logo.svg" alt="logo" />
        </a>
      </div>
      <div class="edufrontSignIn_sidebar-container">
        <h2 class="edufrontSignIn_sidebar-title">Login to your account</h2>
        <p class="edufrontSignIn-text">School code: rgphsedufront</p>
        <div class="edufrontSignIn-form">
          <button @click="signOut">Log out</button>
          <button @click="signInWithGoogle" class="edufrontSignIn-google">
            <img
              src="../assets/login/google.png"
              width="32"
              height="32"
              alt="google"
            />
            Sign in with Google
          </button>
        </div>
      </div>
      <p class="edufrontSignIn_help">
        Need help? Go to our <a href="">help center</a>
      </p>
    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";
import { db } from "../main";
import firebase from "firebase";
import _ from "lodash";
import { mapMutations } from "vuex";

import categoriesDefault from "@/helpers/categories";

const group = {
  name: "General",
  groupId: uuidv4(),
  uid: null,
  default: true,
  users: [],
};

const categories = _.cloneDeep(categoriesDefault);

const transactions = [
  { name: "Bread", amount: "10" },
  { name: "Milk", amount: "15" },
  { name: "Sweater", amount: "125" },
  { name: "Jeans", amount: "155" },
  { name: "Bar entrance", amount: "20" },
  { name: "Binge", amount: "47" },
  { name: "Bus tickets", amount: "11" },
  { name: "Petrol 10l", amount: "10" },
  { name: "Mobile phone", amount: "5" },
  { name: "Internet", amount: "15" },
];

export default {
  methods: {
    ...mapMutations(["SET_USER"]),
    signInWithGoogle: function () {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .then((result) => {
          let user = result.user;
          db.collection("users")
            .where("uid", "==", user.uid)
            .get()
            .then((querySnapshot) => {
              let newUser = {
                uid: user.uid,
                name: user.displayName,
                email: user.email,
              };

              if (querySnapshot.empty) {
                db.collection("users").add(newUser);
                group.uid = user.uid;
                group.users.push(user.uid);
                db.collection("groups").add(group);
                categories.forEach((category) => {
                  category.uid = user.uid;
                  category.groupId = group.groupId;
                  category.categoryId = uuidv4();
                  db.collection("categories").add(category);
                });

                let indexCategory = 0;
                for (let i = 0; i < transactions.length; i++) {
                  if (i > 2 && i % 2 > 0) {
                    indexCategory += 1;
                  }
                  transactions[i].transactionId = uuidv4();
                  transactions[i].uid = user.uid;
                  transactions[i].groupId = group.groupId;
                  transactions[i].categoryId =
                    categories[indexCategory].categoryId;
                  transactions[i].date = new Date();
                  db.collection("transactions").add(transactions[i]);
                }
              }

              this.SET_USER(newUser);
            })
            .catch((error) => {
              console.log("Error getting documents: ", error);
            });
        })
        .catch((error) => console.log(error));
    },
    signOut() {
      firebase
        .auth()
        .signOut()
        .then((result) => {
          console.log(result);
          // store.dispatch("fetchUser", null);
          // this.$router.push("/");
        });
    },
  },
};
</script>

<style scoped>
@import url("../styles/login-page.css");
</style>
