<template>
  <form>
    <h5 class="p-ml-2">Name</h5>
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <InputText v-model="editedUser.name" placeholder="Username" />
      </div>
    </div>

    <h5 class="p-ml-2">E-mail</h5>
    <div class="p-col-12 p-md-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
        </span>
        <InputText disabled :value="user.email" placeholder="E-mail" />
      </div>
    </div>
    <div class="p-ml-2 p-mt-4">
      <Button label="Save" icon="pi pi-check" @click="saveUser" autofocus />
    </div>
  </form>
</template>

<script>
import { mapActions } from "vuex";
// import { db } from "../main";

export default {
  data() {
    return {
      editedUser: {},
    };
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  created() {
    this.editedUser = JSON.parse(JSON.stringify(this.user));
  },
  methods: {
    ...mapActions(["EDIT_USER"]),

    saveUser() {
      this.EDIT_USER(this.editedUser);
    },
  },
};
</script>
