<template>
  <div class="card">
    <div class="p-grid p-formgrid">
      <div class="p-field p-col-12 p-md-6">
        <h5>Name</h5>
        <Skeleton width="20rem" height="2rem" class="p-mb-2"></Skeleton>
        <h5>E-mail</h5>
        <Skeleton width="20rem" height="2rem" class="p-mb-2"></Skeleton>
      </div>
    </div>
  </div>
</template>
