<template>
  <div class="groupModal">
    <Dialog
      v-model:visible="isModal"
      :style="{ width: '50vw' }"
      :modal="true"
      @hide="closeGroupModal"
    >
      <template #header>
        <div class="container">
          <h2>ADD GROUP</h2>
        </div>
      </template>
      <div class="container">
        <div class="group-form">
          <h5>Name group:</h5>
          <span class="p-float-label p-mb-3" style="overflow: hidden">
            <InputText id="username" type="text" v-model="group.name" />
            <label label for="username">Enter name group</label>
            <Button
              v-if="changedGroupName && !isNewGroup"
              @click="editGroupName()"
              icon="pi pi-save"
              class="p-button-rounded p-button-secondary p-button-text p-ml-1"
            />
          </span>

          <hr />

          <h5>Categories:</h5>

          <div class="p-d-flex p-ai-center p-mb-3">
            <InputText
              type="text"
              v-model="newCategory.name"
              placeholder="Enter category name"
              class="p-mr-3"
            />
            <ColorPicker v-model="newCategory.color" class="p-mr-3" />
            <Button
              v-if="isNewGroup"
              @click="addCategory"
              label="Add category"
              class="p-button-info p-mr-2"
            />
            <Button
              v-else
              @click="addCategoryInDB"
              label="Add category"
              class="p-button-info p-mr-2"
            />
          </div>

          <div>
            <Panel header="Categories list" style="height: 100%">
              <ScrollPanel
                style="width: 100%; height: 150px"
                class="custombar1"
              >
                <ul v-if="isNewGroup" class="task-list">
                  <li
                    v-for="(category, index) of categories"
                    :key="index"
                    class="p-d-flex p-jc-between"
                  >
                    <div class="p-d-flex p-ai-center">
                      <span v-if="!category.edit" class="task-name">{{
                        category.name
                      }}</span>
                      <InputText v-else type="text" v-model="category.name" />
                      <Button
                        @click="category.edit = !category.edit"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-secondary p-button-text p-ml-1"
                      />
                    </div>
                    <div class="p-d-flex p-ai-center">
                      <ColorPicker v-model="category.color" />
                      <Button
                        @click="deleteCategory(index)"
                        class="p-button-danger p-button-sm p-ml-2"
                        icon="pi pi-times"
                      />
                    </div>
                  </li>
                </ul>
                <ul v-else class="task-list">
                  <li
                    v-for="(category, index) of categoriesGroup"
                    :key="index"
                    class="p-d-flex p-jc-between"
                  >
                    <span class="task-name">{{ category.name }}</span>
                    <div>
                      <ColorPicker v-model="category.color" />
                      <Button
                        @click="
                          deleteCategoryFromDB(category.id, category.categoryId)
                        "
                        class="p-button-danger p-button-sm p-ml-2"
                        icon="pi pi-times"
                      />
                    </div>
                  </li>
                </ul>
              </ScrollPanel>
            </Panel>
          </div>
        </div>
      </div>
      <template #footer>
        <div v-if="isNewGroup" class="container">
          <Button
            label="Cancel"
            icon="pi pi-times"
            @click="closeGroupModal"
            class="p-button-text"
          />
          <Button
            label="Save"
            icon="pi pi-check"
            @click="saveGroup"
            autofocus
          />
        </div>
      </template>
    </Dialog>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";
import { db } from "../main";
import _ from "lodash";
import { mapState } from "vuex";
import { mapActions } from "vuex";

const defaultColorCategory = "bfe045";

export default {
  props: {
    isAddGroupModal: {
      type: Boolean,
      default: false,
    },
    isNewGroup: {
      type: Boolean,
      default: false,
    },
    currentGroup: {
      type: Object,
      required: true,
    },
    categoriesGroup: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      isModal: this.isAddGroupModal,
      group: {},
      categories: [],
      newCategory: {
        name: "",
        color: defaultColorCategory,
      },
    };
  },
  watch: {
    isAddGroupModal() {
      this.isModal = this.isAddGroupModal;
    },
    currentGroup: {
      immediate: true,
      handler: function (val) {
        this.group = _.cloneDeep(val);
      },
    },
    categoriesGroup: {
      immediate: true,
      handler: function (val) {
        if (val.length) {
          this.categories = _.cloneDeep(val);
          this.categories.forEach((element) => {
            element.edit = false;
          });
        }
      },
    },
  },
  computed: {
    ...mapState({
      user: (state) => state.user,
      transactions: (state) => state.transactions,
    }),
    changedGroupName() {
      return this.currentGroup.name !== this.group.name ? true : false;
    },
  },
  methods: {
    ...mapActions(["LOAD_GROUPS", "LOAD_CATEGORIES", "LOAD_TRANSACTIONS"]),
    closeGroupModal() {
      this.$emit("closeGroupModal");
    },
    addCategory() {
      const newCategory = _.cloneDeep(this.newCategory);
      this.categories.push(newCategory);
    },
    deleteCategory(index) {
      this.categories.splice(index, 1);
    },
    saveGroup() {
      const group = {
        name: this.group.name,
        groupId: uuidv4(),
        uid: this.user.uid,
        default: false,
        users: [],
      };
      group.users.push(this.user.uid);
      db.collection("groups").add(group);
      this.categories.forEach((category) => {
        category.uid = this.user.uid;
        category.groupId = group.groupId;
        category.categoryId = uuidv4();
        db.collection("categories").add(category);
      });
      this.LOAD_GROUPS();
      this.LOAD_CATEGORIES();
      this.$emit("closeGroupModal");
    },
    editGroupName() {
      db.collection("groups")
        .doc(this.group.id)
        .update(this.group)
        .then(() => {
          console.log("Document successfully updated!");
          this.LOAD_GROUPS();
          this.$emit("closeGroupModal");
        })
        .catch((error) => {
          console.error("Error updating document: ", error);
        });
    },
    addCategoryInDB() {
      const category = {
        name: this.newCategory.name,
        color: this.newCategory.color,
        uid: this.user.uid,
        groupId: this.group.groupId,
        categoryId: uuidv4(),
      };
      db.collection("categories").add(category);
      this.LOAD_CATEGORIES();
    },
    deleteCategoryFromDB(id, categoryId) {
      const transactions = this.transactions.filter(
        (item) => item.categoryId === categoryId
      );
      console.log("transactions category", this.transactions);
      transactions.forEach((item) => {
        db.collection("transactions")
          .doc(item.id)
          .delete()
          .then(() => {
            console.log("Transaction successfully deleted!");
          })
          .catch((error) => {
            console.error("Error deleted transaction: ", error);
          });
      });
      this.LOAD_TRANSACTIONS();
      setTimeout(() => {
        db.collection("categories")
          .doc(id)
          .delete()
          .then(() => {
            console.log("Category successfully deleted!");
            this.LOAD_CATEGORIES();
          })
          .catch((error) => {
            console.error("Error deleted category: ", error);
          });
      }, 1500);
    },
  },
};
</script>
<style lang="scss">
// .p-dialog {
//   background: #fff;
//   width: 100vw !important;
//   min-height: 100vh;
//   .p-dialog-footer {
//     margin-top: auto;
//   }
//   .container {
//     max-width: 768px;
//   }
// }
</style>
