<template>
  <div class="groupModal">
    <Dialog
      v-model:visible="isModal"
      :style="{ width: '50vw' }"
      :modal="true"
      @hide="closeTransactionModal"
    >
      <template #header>
        <div class="container">
          <h2>ADD Transaction</h2>
        </div>
      </template>
      <div class="container">
        <div class="group-form">
          <div class="p-d-flex">
            <div class="col-6 p-pr-2">
              <h5>Transaction:</h5>
              <span class="p-float-label p-mb-3" style="overflow: hidden">
                <InputText class="fullWidth" type="text" v-model="name" />
                <label label for="username">Enter transaction</label>
              </span>
            </div>
            <div class="col-6 p-pl-2">
              <h5>Amount:</h5>
              <span class="p-float-label p-mb-3" style="overflow: hidden">
                <InputText class="fullWidth" type="number" v-model="amount" />
                <label label for="username">Enter amount</label>
              </span>
            </div>
          </div>

          <div class="p-d-flex">
            <div class="col-6 p-pr-2">
              <h5>Group:</h5>
              <Dropdown
                class="fullWidth"
                v-model="selectedGroup"
                :options="groups"
                optionLabel="name"
                optionValue="groupId"
                placeholder="Select a Group"
                @change="selectedCategory = null"
              />
            </div>

            <div class="col-6 p-pl-2">
              <h5>Category:</h5>
              <Dropdown
                class="fullWidth"
                v-model="selectedCategory"
                :options="categoriesGroup"
                optionLabel="name"
                optionValue="categoryId"
                placeholder="Select a Category"
                :disabled="!selectedGroup"
              />
            </div>
          </div>
        </div>
      </div>
      <template #footer>
        <div class="container">
          <Button
            label="Cancel"
            icon="pi pi-times"
            @click="closeTransactionModal"
            class="p-button-text"
          />
          <Button
            label="Save"
            icon="pi pi-check"
            @click="saveTransaction"
            autofocus
          />
        </div>
      </template>
    </Dialog>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";
import { db } from "../main";
import { mapState } from "vuex";
import { mapActions } from "vuex";

export default {
  props: {
    isTransactionModal: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isModal: this.isTransactionModal,
      name: "",
      amount: null,
      selectedGroup: null,
      selectedCategory: null,
    };
  },
  watch: {
    isTransactionModal() {
      this.isModal = this.isTransactionModal;
    },
  },
  computed: {
    ...mapState({
      user: (state) => state.user,
      groups: (state) => state.groups,
      categories: (state) => state.categories,
    }),
    categoriesGroup() {
      if (this.selectedGroup) {
        return this.categories.filter(
          (category) => category.groupId === this.selectedGroup
        );
      }
      return this.categories;
    },
  },
  methods: {
    ...mapActions(["LOAD_TRANSACTIONS"]),
    closeTransactionModal() {
      this.name = "";
      this.amount = null;
      this.selectedGroup = null;
      this.$emit("closeTransactionModal");
    },
    saveTransaction() {
      const transaction = {
        name: this.name,
        amount: this.amount,
        transactionId: uuidv4(),
        uid: this.user.uid,
        groupId: this.selectedGroup,
        categoryId: this.selectedCategory,
        date: new Date(),
      };
      db.collection("transactions").add(transaction);
      this.LOAD_TRANSACTIONS();
      this.closeTransactionModal();
    },
  },
};
</script>
