<template>
  <component :is="layout">
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </component>
</template>

<script>
import firebase from "firebase";
import { mapMutations } from "vuex";
import { mapActions } from "vuex";

export default {
  created() {
    firebase.auth().onAuthStateChanged((user) => {
      let currentUser = null;
      if (user) {
        currentUser = {
          uid: user.uid,
          name: user.displayName,
          email: user.email,
        };
      }
      this.SET_USER(currentUser);
      if (currentUser) {
        this.LOAD_GROUPS();
        this.LOAD_CATEGORIES();
        this.LOAD_TRANSACTIONS();
      }
    });
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || "default") + "-layout";
    },
  },
  methods: {
    ...mapMutations(["SET_USER"]),
    ...mapActions(["LOAD_GROUPS", "LOAD_CATEGORIES", "LOAD_TRANSACTIONS"]),
  },
};
</script>

<style lang="scss"></style>
